#resposta {
    background-color: var(--slate900);
    color: var(--white);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

#resposta #historico {
    background-color: transparent;
    color: var(--lime);
    align-self: flex-end;
    padding: 0;
    width: auto;
    justify-self: flex-start;
    /* pra subir a posicao dele: */
    text-decoration: underline;
}

#resposta .dados-resposta {
    /* Faz com que o espaço restante seja ocupado, empurrando os outros elementos para baixo */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#resposta img {
    margin: 0 auto;
}

#resposta h2 {
    margin-bottom: 1rem;
}

.resultadoConversao {
    color: var(--lime);
    font-weight: 700;
    font-size: 40px;
}